.icon-add{background: url(../img/add.png) no-repeat !important;}
.icon-monsub{background: url(../img/application_form_magnify_2134.png) no-repeat !important;}
.icon-ssdparse{background: url(../img/stock_toggle-info.png) no-repeat !important;}
.icon-upload{background: url(../img/page_white_get.png) no-repeat !important;}
.icon-folder{background: url(../img/folder.png) no-repeat !important;}
.icon-left{background: url(../img/default-scroll-left.png) no-repeat !important;}
.icon-right{background: url(../img/default-scroll-right.png) no-repeat !important;}
.icon-clipboard{background: url(../img/clipboard__arrow.png) no-repeat !important;}
.icon-advancedsettings{background: url(../img/advancedsettings.png) no-repeat !important;}
.icon-up{background: url(../img/sort_asc.png) 0px no-repeat !important;}
.icon-down{background: url(../img/hmenu-desc.png) 4px no-repeat !important;}
.icon-connect{background: url(../img/page-last.png) 4px no-repeat !important;}